.bg-custom {
	background: #8e24aa;
}

.navbar .nav-item .nav-link {
	font-size: 20px;
	color: white;
}

.navbar-custom .nav-item:hover .nav-link {
	background: white;
	color: black;
	border-radius: 10px;
}

.div-color {
	background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72,
		#a8eb12);
	height: 500px;
}